# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/
/**/node_modules
# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components
/**/public/assets/lib
# --------------------
# App Files
# --------------------
data/
test/coverage/
modules/public/
modules/views/
/public/build/
/packages/contrib/
/packages/**/**/public/assets/lib
