<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{title}}</h1>
			<p class="lead movie-description">重度科幻迷</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2" ng-repeat="item in movies">
		<div class="thumbnail">
			<a ui-sref="movie({_id: item._id})">
				<img src="{{item.poster}}" alt="{{item.title}}">
			</a>
			<div class="caption">
				<h3 class="text-center">{{item.title}}</h3>
				<p class="text-center"><a class="btn btn-primary" role="button">观看预告片</a></p>
			</div>
		</div>
	</div>
</div>